Flask==2.2.5
Flask-SocketIO==5.3.3
Flask-Cors==3.0.10
python-socketio==5.7.2
eventlet==0.33.3
opencv-python==4.5.5.64
supabase==0.4.7
python-dotenv==1.0.0
requests==2.31.0
psycopg2-binary==2.9.7  
numpy==1.23.5  
gunicorn==20.1.0  
sqlalchemy==2.0.35
cmake
dlib
face-recognition
enum34
Flask-Login
Flask-Bcrypt
Flask-JWT-Extended